
/*基于material设计  https://www.materialpalette.com*/

/*.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }*/

/* 自定义变量 :root匹配的就是HTML中的<html>元素 */
:root {
    --dark_theme_color: #E64A19;
    --theme_color: #FF5722;
    --accent_color: #607D8B;
    --title_color: #212121;
    --subtitle_color: #757575;
    --content_color: #666666;
    --divider-color: #BDBDBD;
}

.noBorder {
    border: none;
}

.selector {
    font-size: 9px;
    color: #333333;
    border: 1px solid #999999;
    margin-left: 0;
}

.btnBlank {
    font-size: 9px;
    color: #FFFFFF;
    background-color: #000000;
    cursor: hand;
    padding: 1px;
    border-top: 1px solid #000000;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #000000;
}

.btnTheme {
    font-size: 9px;
    color: #FFFFFF;
    background-color: var(--theme_color);
    cursor: hand;
    padding: 1px;
    height: 19px;
    border-top: 1px solid var(--theme_color);
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid var(--theme_color);
}
